<section id="para-ti" class="rb-yinyang" aria-labelledby="para-ti-title">
  <div class="shell rb-yinyang__shell">
    <div class="rb-yinyang__heading">
      <p class="rb-kicker">Para quién</p>
      <h2 id="para-ti-title">Esta Escuela es para ti si…:</h2>
    </div>

    <div class="rb-yinyang__panel" aria-label="Para quién es Respira Bonito">
      <div class="rb-yinyang__orb" aria-hidden="true">
        <span>Respira</span>
      </div>

      <article class="rb-yinyang__side rb-yinyang__side--cream">
        <p class="rb-yinyang__eyebrow">Necesitas parar</p>
        <div class="rb-yinyang__items">
          <div class="rb-yinyang__item" *ngFor="let item of idealItemsLeft">
            <span class="rb-yinyang__icon"><mat-icon aria-hidden="true">{{ item.icon }}</mat-icon></span>
            <p>{{ item.text }}</p>
          </div>
        </div>
      </article>

      <article class="rb-yinyang__side rb-yinyang__side--rose">
        <p class="rb-yinyang__eyebrow">Quieres crecer acompañada</p>
        <div class="rb-yinyang__items">
          <div class="rb-yinyang__item" *ngFor="let item of idealItemsRight">
            <span class="rb-yinyang__icon"><mat-icon aria-hidden="true">{{ item.icon }}</mat-icon></span>
            <p>{{ item.text }}</p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
